<div class="myContainer">
<form action="/greet" method="post">

<h1>Greetings App</h1>

{{!-- <ul>
  <li><a class="active" href="/views/index.handlebars">Home</a></li>
  <li><a href="/views/greeted.handlebars">Greeted Users</a></li>
  <li><a href="/views/counter.handlebars">Counter Users</a></li>
</ul> --}}

{{#if messages.info}}
    <div class="errMessage">
        <h2>{{messages.info}}</h2>
    </div>
     {{/if}}
    <div class="display">
        <div class="input">

            <input type="text" class="languageEntered" placeholder="Enter Your Name" name="name">
        </div>
        <div class="count">0{{count}}</div>
    </div>

    <hr/>
    
    <div  class="typeOfLanguage">
        <h1>{{message}}</h1>
    </div>

    <hr/>

    <input type="radio" name="language" class="langRadioEng" value="english"/>English
    <input type="radio" name="language" class="langRadioTsw" value="setswana"/>Setswana
    <input type="radio" name="language" class="langRadioXhosa" value="isiXhosa"/>IsiXhosa

    <div class="filter">
    
    </div>
    <div class="Btn">
        <button class="greetBtn" type="submit" name="button">Greet Me</button>
        
       <div class="users"> <a href="/greeted">Greeted Names</a> </div>
    
    </div>
    </form>
    <form action="/reset" method="POST">
            <button class="remove greetBtn" type="submit" name="button">Remove</button>
        </form>
</div>

